<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to ReloadedData!</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f8f8f8; /* Light gray background */ } h1, h2, p {
      margin: 15px 0; } a { color: #f57f17; /* Primary color */ text-decoration:
      none; } a:hover { text-decoration: underline; } .container { padding:
      20px; background-color: #fff; /* White background for content area */
      border: 1px solid #ddd; /* Light gray border */ border-radius: 5px; /*
      Rounded corners */ max-width: 600px; /* Limit container width */ margin: 0
      auto; /* Center the container horizontally */ } .header {
      background-color: #f57f17; /* Primary color header */ color: #fff; /*
      White text for header */ padding: 10px 20px; } .otp { font-size: 20px;
      font-weight: bold; text-align: center; background-color: #eee; /* Light
      gray background for OTP */ padding: 10px; border-radius: 5px; /* Rounded
      corners for OTP */ }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Welcome to ReloadedData, {{userName}}!</h1>
      </div>
      <p>Thank you for registering with us. To verify your account and complete
        your registration, please enter the following One-Time Password (OTP):</p>
      <h2 class="otp">{{otp}}</h2>
      <p>This OTP is valid for 15 minutes. Please enter it within the specified
        time frame to complete your registration.</p>
      <p>If you have any trouble verifying your account, please don't hesitate
        to contact us at datareloaded2021@gmail.com.</p>
      <p>For more information, visit our website:
        <a href="www.datareloaded.com">ReloadedData</a></p>
      <p>Sincerely,</p>
      <p>The ReloadedData Team</p>
    </div>
  </body>
</html>